@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: none;
}

input ::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*----------------------------------------*/
@font-face {
  font-family: "StarJediOutline";
  src: url("../fonts/StarJediOutline-y0xm.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "AnakinmonoRegular";
  src: url("../fonts/AnakinmonoRegular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

.header-top {
  -webkit-box-shadow: 0px 2px 4px rgba(8, 35, 48, 0.24), 0 4px 8px rgba(8, 35, 48, 0.16);
          box-shadow: 0px 2px 4px rgba(8, 35, 48, 0.24), 0 4px 8px rgba(8, 35, 48, 0.16);
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px 0 10px;
  background-color: #0097a7;
}

.header__burger {
  z-index: 3;
  display: none;
}

.header__logo {
  display: block;
}

.header__logo_text {
  display: inline-block;
  color: #fff;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 30px;
  font-weight: 500;
  padding: 3px 0 0 6px;
}

.header__profile {
  display: block;
}

.header__profile_image {
  width: 25px;
  height: 25px;
}

.header__profile_mail {
  display: inline-block;
  color: #fff;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 700;
  padding: 6px 0 0 4px;
}

@media (max-width: 767px) {
  .header__logo img {
    display: none;
  }
  .header__logo span {
    margin-left: 30px;
  }
  .header__profile a {
    display: none;
  }
  .header__burger {
    width: 25px;
    height: 21px;
    display: block;
    position: absolute;
  }
  .header__burger::before, .header__burger::after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger.close::before {
    top: 9px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    height: 4px;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger.close::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 9px;
    height: 4px;
  }
  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 3px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger.close span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

.navigation__menu {
  z-index: 1;
  position: fixed;
  min-height: 100%;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding: 8px 0 0 0;
  height: 100%;
  width: 255px;
  border: 1px solid #e0e0e0;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navigation__menu_item {
  height: 48px;
  text-indent: 50px;
  color: #000;
  fill: #969696;
}

.navigation__menu_item.active {
  background-color: #e3f2f4;
  color: #0097a7;
  fill: #0097a7;
}

.navigation__menu_item2 {
  height: 48px;
  text-indent: 50px;
  color: #000;
}

.navigation__menu_item2.active {
  background-color: #e3f2f4;
  color: #0097a7;
}

.navigation__menu_item:first-child {
  margin: 50px 0 0 0;
}

.navigation__menu_item:last-child {
  margin: 0 0 0 0;
}

.navigation_link {
  position: relative;
  top: 40%;
  height: 30px;
  padding: 5px 0 5px 23px;
  color: inherit;
}

.navigation__menutop {
  padding: 8px 0;
}

.navigation__menubottom {
  padding: 8px 0 8px 0;
}

.subscribe {
  padding: 8px 0;
  height: 65px;
  border-top: 1px solid #e0e0e0;
}

.news {
  padding: 8px 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.navigation__menu_item:hover {
  background-color: #ececec;
  cursor: pointer;
}

.navigation__menu_item2:hover {
  background-color: #ececec;
  cursor: pointer;
}

.grow {
  border-bottom: 1px solid #e0e0e0;
  height: 0px;
  margin: 0 0 8px 0;
}

.bar-chart {
  width: 24px;
  height: 24px;
  margin: -3px 0 0 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
  .menu-container {
    position: absolute;
    left: -100%;
    height: auto;
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .navigation__menu {
    overflow: auto;
  }
  .menu-container.visible {
    left: 0;
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 2;
}

.menu-container {
  width: 255px;
  height: 100%;
}

.filmInfo {
  margin: 0 0 20px 0;
}

.eventContainer {
  background-color: #313131;
  margin: 56px 0 0 0;
  height: 100%;
  width: calc(100% - 258px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.episod_title {
  letter-spacing: 2px;
  margin: 0 0 25px 0;
  font-family: "StarJediOutline";
  text-align: center;
  color: white;
  font-size: 30px;
}

.film_description {
  text-indent: 25px;
  text-align: justify;
  line-height: 25px;
  margin: 0 auto;
  max-width: 900px;
  font-family: "AnakinmonoRegular";
  font-size: 16px;
  color: white;
}

.release_data, .link_to_movie {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 10px 0 0;
  margin-top: 20px;
  font-family: "AnakinmonoRegular";
  color: white;
  font-size: 16px;
}

.link_to_movie span {
  padding: 0 10px 0 0;
}

.release_data {
  display: block;
}

.characters_container {
  max-width: 900px;
  margin: 0 auto;
}

.character_item {
  text-align: center;
  font-family: "AnakinmonoRegular";
  color: white;
  display: inline-block;
  margin: 10px 20px 0 0;
  padding: 5px;
  border-radius: 5px;
  width: auto;
  border: 1px solid grey;
}

.errorMessage {
  text-align: center;
  padding-top: 40vh;
  font-size: 20px;
  color: white;
  height: 100vh;
}

@media (max-width: 767px) {
  .eventContainer {
    width: 100%;
  }
}

.loader {
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: sans-serif;
  font-size: 50px;
  text-align: center;
  color: white;
}

.ball {
  background-color: rgba(0, 0, 0, 0);
  border: 5px solid rgba(0, 151, 167, 0.9);
  opacity: .9;
  border-top: 5px solid rgba(0, 0, 0, 0);
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-radius: 50px;
  -webkit-box-shadow: 0 0 35px #0097a7;
          box-shadow: 0 0 35px #0097a7;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  margin-top: 50vh;
  -moz-animation: spin .5s infinite linear;
  -webkit-animation: spin .5s infinite linear;
}

.ball1 {
  background-color: rgba(0, 0, 0, 0);
  border: 5px solid rgba(0, 151, 167, 0.9);
  opacity: .9;
  border-top: 5px solid rgba(0, 0, 0, 0);
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-radius: 50px;
  -webkit-box-shadow: 0 0 15px #0097a7;
          box-shadow: 0 0 15px #0097a7;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  position: relative;
  top: -50px;
  -moz-animation: spinoff .5s infinite linear;
  -webkit-animation: spinoff .5s infinite linear;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spinoff {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
