
.navigation {

    &__menu {
        z-index: 1;
        position: fixed;
        min-height: 100%;
        overflow: hidden;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        padding: 8px 0 0 0;
        height: 100%;
        width: 255px;
        border: 1px solid rgb(224,224,224);
        background-color: rgb(255,255,255);
        display: flex;
        flex-direction: column; 
        
        &_item {
            height: 48px;
            text-indent: 50px;
            
            color: #000;
            fill: rgb(150,150,150);
            &.active {
                background-color: rgb(227,242,244);
                color: rgb(0,151,167);
                fill: rgb(0,151,167);

            }         
        }

        &_item2 {
            height: 48px;
            text-indent: 50px;
            color: #000;
            &.active {
                background-color: rgb(227,242,244);
                color: rgb(0,151,167);
            }   
        }
        
        &_item:first-child{
            margin: 50px 0 0 0;
        }
        &_item:last-child{
            margin: 0 0 0 0;
        }
    }

        &_link {
            position: relative;
            top:40%;
            height: 30px;
            padding: 5px 0 5px 23px;
            color: inherit;
        }
        
    &__menutop {
        padding: 8px 0;
    }

    &__menubottom { 
        padding: 8px 0 8px 0;
    }
}

.subscribe {
    padding: 8px 0;
    height: 65px;
    border-top: 1px solid rgb(224,224,224);
}

.news {
    padding: 8px 0;
    flex: 1 1 auto;
}

.navigation__menu_item:hover{
    background-color: rgb(236,236,236);
    cursor: pointer;
}
.navigation__menu_item2:hover{
    background-color: rgb(236,236,236);
    cursor: pointer;
}

.grow {
    border-bottom: 1px solid rgb(224,224,224);
    height: 0px;
    margin: 0 0 8px 0;
}
.bar-chart {
    width: 24px;
    height: 24px;
    margin: -3px 0 0 15px;
    align-items: center;
    border-radius: 4px;
    display: flex;
}

@media (max-width: 767px){
    body.lock{
        overflow: hidden;
    }
    .menu-container{
        position: absolute;
        left: -100%;
        height: auto;
        overflow: auto;
        // background-color: rgb(255,255,255);
        transition: all 0.3s ease 0s;

    }
    .navigation{
        &__menu{
            overflow: auto;
        }
    }
    .menu-container.visible {
        left: 0;
    }
}


