@tailwind base;
@tailwind components;
@tailwind utilities;
@import "_nullstyle";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

@font-face {
    // название шрифта(чтобы не запутаться лучше указать название папки со шрифтом)
    font-family: "StarJediOutline";
    // адрес шрифта и тип
    src: url("../assets/fonts/StarJediOutline-y0xm.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "AnakinmonoRegular";
    src: url("../assets/fonts/AnakinmonoRegular.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@import "_header";

@import "_menu";

@import "_eventContainer";

@import "_loader";
